
body{
    background-color:   rgb(255, 255, 255);
}
/* Menu-bar*/
.flex-container-top {
    flex-wrap: wrap;
    display: flex;
    background-color:rgb(54, 54, 54);
    align-content: center;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    
  }
  
  .flex-container-top a{

    padding: 30px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    height: 15px;
    display: flex;
    align-items: center;
    flex-grow: 1;  
}

/* Homepage */
.homepage-text-container{
    display: flex;
    justify-content: center;
    
}
.homepage-text{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    width: 50%;
    text-align: center;
    justify-content:space-evenly;
    font-weight: 800;
    
    
/* Footer */
}
  .footer{
    background-color:rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    color:rgba(245, 245, 245, 0.616);
    position: 'absolute';
    height:7em;
    align-items: center;
    display: flex;
    align-self: center;
    border-radius: 20px;
    
    
  }

  /* Product slideshow container */
  .slideshow-container{
    max-width: 1000px;
    position: relative;
    margin-left:40%;
  }
  .mySlides {
    display: flex;
  }

  /* Slideshow dots*/
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #717171;
  }

  /*GPU picture size*/
    .Gpu{
    width: 25em;
  }

  /* Links, details and decoration */
  a:visited{
    color:black;
    text-decoration: none;
  }
 
  .flex-container-top a:link {
    background-color: transparent;
    text-decoration: none;
  }

  .flex-container-top a:hover{
    background-color:rgba(245, 245, 245, 0.616);
  }
  h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    text-align: center;
    
  }
  h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  h5{
    font-size: 135%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;

  }
  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }