
body{
    background-color: gray;
}

.flex-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color:rgb(54, 54, 54);

    
  }
  
  .flex-container div{
    background-color: rgba(245, 245, 245, 0.616);
    margin: 10px;
    padding: 30px;
    font-size: 25px;
    height: px;
    
}
  
  a:visited{
    color:black;
    text-decoration: none;
  }
 
  .flex-container a:link {
    background-color: transparent;
    text-decoration: none;
  }