
body{
    background-color:   rgb(255, 255, 255);
}

.flex-container-top {
    flex-wrap: wrap;
    display: flex;
    background-color:rgb(54, 54, 54);
    align-content: center;
    text-decoration: none;
    

    
  }
  
  .flex-container-top a{
    background-color: rgba(245, 245, 245, 0.616);
    padding: 30px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    height: 15px;
    display: flex;
    align-items: center;
    flex-grow: 1;  
}
.flex-container-top a:hover{background-color: #ddd;}

.homepage-text-container{
    display: flex;
    justify-content: center;
}
.homepage-text{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    width: 50%;
    text-align: center;
    justify-content:space-evenly;
    font-weight: 800;
    
    

}
  .footer{
    background-color:rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    color:rgba(245, 245, 245, 0.616);
    position: 'absolute';
    height:7em;
    align-items: center;
    display: flex;
    align-self: center;
    
    
  }

  /* The products */
  .products{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;

  }
  .Gpu-30{
    width: 25em;
  }
  .Gpu-3060{
    width: 25em;
  }
  .Gpu-3070{
    width: 25em;
  }
  
  .Gpu-3090{
    width:25em;
  }

  /* Links and details */
  a:visited{
    color:black;
    text-decoration: none;
  }
 
  .flex-container-top a:link {
    background-color: transparent;
    text-decoration: none;
  }

  .flex-container a:hover{
    background-color: blanchedalmond;
  }
  h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    text-align: center;
    
  }
  h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }